@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --cinza-Google: #aeaeae;
    --preto-Google: #0000001a;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogoSearchBar {
    display: flex;
    align-items: center;
    margin: 30px;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.containerLogo img{
    width: 100%;
    width: 120px;
    height: auto;
}

.containerSearchBar {
    display: flex;
    border: 1px solid var(--cinza-Google);
    border-radius: 30px;
    max-width: 600px;
    height: 40px;
    margin-left: 40px;
    box-shadow: 1px 1px 5px var(--cinza-Google);
}

.containerSearchBar:hover {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 1px 5px var(--cinza-Google)
}

.containerSearchBar input {
    margin-left: 14px;
    width: 500px;
    border: 0px;  
}

.containerSearchBar input:focus{
    outline: none;
}

.microfone{
    width: 18px;
    margin: 5px;
}

.lupa {
    width: 22px;
    margin: 8px 10px 0px 10px;
}

.containerAppsAvatar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.apps {
    width: 18px;
}

.avatar {
    width: 30px;
    margin-right: 50px;
}

.sectionOpcoesDeBusca {
    border-bottom: 1px solid #aeaeae;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 900px;
}

.opcoesDeBusca {
    display: flex;
    margin-left: 30px;
    gap: 18px;
}

.opcoesDeBusca p {
    margin-bottom: 18px;
    font-size: 0.9rem;
    color: #807F80;
}

#ancora1{
    border-bottom: 3px solid #3A6BC2;
}

#todas {
    color: #3A6BC2;
    
}

.ferramentas p{
    margin-left: 80px;
    color: #807F80;
    font-size: 0.9rem;
}

.numeroResultado {
    display: flex;
    justify-content: center;
    max-width: 760px;
    margin-top: 10px;
    font-size: 0.9em;
    color: #858484;
}

.resultados {
    margin-top: 15px;
}

.containerResultados {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    margin-left: 12rem;
}

.containerResultados h2 {
    color: #1A0DAB;
    margin-bottom: 5px;
    font-weight: 400;
}

.containerResultados a {
    color: #0a5c20;
}

.containerResultados p {
    margin: 10px 0px 10px 0px;
}

.containerResultados div {
    margin-bottom: 30px;
}